%h1 Last.fm service

-form_for(@feedsetting) do |f|
  = f.error_messages
  %p
    %img{:src => "../images/lastfm.png", :alt => "me2day"}
    = "Last.fm username"
    %br/
    = f.text_field :parameter
  %p
    = f.submit "Create"

=link_to 'Back', services_path

