%table
  - for item in @latest_items
    %tr
      %td
        %img{:src => "/images/"+item.feed.service.identifier+".png", :alt => item.feed.service.name}
        %a{:href => item.link}=h(item.title)
