input { vertical-align: middle; }

.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

#header {
  width: 100%;
  background: #222;
  color: white;
  border-bottom: 0.8em solid #555;
  padding: 1em 0;
  float:left;
}

#header h1 {
  margin: 0 0.3em;
  float:left;
  color:white;
  background:transparent;
}

body#admin ul.menu {
  float:right;
}

body#admin ul.menu li {
  padding:0.5em 0;
  float:left;
}

body#admin ul.menu a {
  color: white;
  width: 9em;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #aaa;
  border-bottom: none;
  font-family: Helvetica;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
}

body#admin #main {
  clear: both;
  width: 98%;
  padding: 0.8em;
  line-height: 160%;
}

body#admin a {
	color: #444;
}

body#admin #main ul li.item ul li a {
	color: #aaa;	
	border-bottom: 1px dotted #aaa;
}

body#admin #main h1 {
  font-size: 1.3em;
  border-bottom: 2px solid #aaa;
  padding: 0.2em 0;
  margin: 0.2em 0;
}

body#admin #main h2 {
  font-size: 1.1em;
  border-bottom: 1px solid #aaa;
  padding: 0.2em 0;
}

body#admin #main div {
  padding: 0.4em 0;
}

body#admin #main .box {
  border: 1px solid #ccc;
  padding: 0 0.4em;
  margin: 0.5em 0;
}

body#admin #flash {
  clear: both;
	padding:0.5em;
}

body#admin #flash.notice {
	border: 2px solid #fec;
	background: #fffadd;
}

body#admin #flash.error {
	border: 2px solid #fcc;
	background: #ffdddd;
}

body#admin ul.services {
  width: 99%;
  clear: both;
  float: left;
  margin: 0.5em auto;
  border: 2px solid #eee;
  padding: 0.5em;
}

body#admin ul.services li {
  width: 25%;
  float: left;
}
div.pagination {
  margin:0 auto;
  text-align:center;
  clear: both;
}

div.pagination a, div.pagination span.current {
  border:1px solid #888;
  padding:0.5em 1em;
}

div.pagination a.next_page, div.pagination a.prev_page {
  border:none;
}

div.pagination span.current {
  background: #888;
  color: white;
}

#filter_tab {
  color: #000;
  border-bottom: 1px solid black;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px 
}

#filter_tab li {
  display: inline;
  overflow: hidden;
  list-style-type: none; 
}

#filter_tab a, a.active {
  color: #000;
  background: #fff;
  font: bold 1em "Trebuchet MS", Arial, sans-serif;
  border: 1px solid black;
  padding: 2px 5px 0px 5px;
  margin: 0;
  text-decoration: none; 
  border-bottom: 3px solid #fff; 
}

#filter_tab a.active {
  background: #fff;
  border-bottom: 4px solid #fff; 
}

#filter_tab a:hover {
  color: #fff;
  background: #eee; 
  border-bottom: 3px solid #eee; 
}

#filter_tab a:visited {
  color: #000; 
}

#filter_tab a.active:hover {
  background: #fff; 
  border-bottom: 4px solid #fff; 
}

