%h1 Customfeed service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "../images/customfeed.png", :alt => "me2day"}
    = "Custom RSS/Atom URL"
    %br/
    = f.text_field :user_id
  %p
    = f.submit "Create"

=link_to 'Back', services_path

