=render :partial => 'services'
%h1 Friendfeed service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/friendfeed.png", :alt => "friendfeed"}
    = "Friendfeed username"
    %br/
    = f.text_field :user_id, { :class => 'text' }
  %p
    = f.submit "Create"
