=render :partial => 'services'
%h1 Me2day service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/googlereader.png", :alt => "me2day"}
    = "Your Google Reader URL(You can find the URL from Google Reader shared items page)"
    %br/
    = f.text_field :user_id, { :class => 'text' }
  %p
    = f.submit "Create"
