=render :partial => 'services'
%h1 Last.fm service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/lastfm.png", :alt => "me2day"}
    = "Last.fm username"
    %br/
    = f.text_field :user_id, { :class => 'text' }
  %p
    = f.submit "Create"
