%h1 Me2day service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/me2day.png", :alt => "me2day"}
    = "Me2day username"
    %br/
    = f.text_field :user_id
  %p
    = f.submit "Create"

=link_to 'Back', services_path

