%h1 Twitter service

-form_for(@feed) do |f|
  = f.error_messages
  %p
    %img{:src => "/images/twitter.png", :alt => "me2day"}
    = "Twitter username"
    %br/
    = f.text_field :user_id
  %p
    = f.submit "Create"

=link_to 'Back', services_path

