%h1 Rollinglist service

-form_for(@feedsetting) do |f|
  = f.error_messages
  %p
    %img{:src => "../images/rollinglist.png", :alt => "me2day"}
    = "Rollinglist username"
    %br/
    = f.text_field :parameter
  %p
    = f.submit "Create"

=link_to 'Back', services_path

