%h1 Friendfeed service

-form_for(@feedsetting) do |f|
  = f.error_messages
  %p
    %img{:src => "../images/friendfeed.png", :alt => "friendfeed"}
    = "Friendfeed username"
    %br/
    = f.text_field :parameter
  %p
    = f.submit "Create"

=link_to 'Back', services_path

